.col-nom {
    width: 20%;
}
.col-description {
    width: 30%;
}
.col-categorie {
    width: 10%;
}
.col-zone {
    width: 10%;
}
.col-numero {
    width: 10%;
}
.col-date-creation {
    width: 20%;
}